body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #f8f8f8;
}

.form {
  background-color: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.selectmenu {
  margin-bottom: 30px;
}

#select__category {
  margin-left: 15px;
  padding: 5px 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.inputField {
  display: flex;
  align-items: center;
}

#numInput {
  margin-left: 20px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.btn__submit {
  padding: 3px 5px;
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  background-color: hsl(204, 93%, 63%);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.btn__submit:hover {
  background-color: hsl(204, 54%, 43%);
}

.FlashcardList {
  display: grid;
  margin-top: 40px;
  padding: 0 20px 40px;
  gap: 50px 30px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.react-card-flip {
  align-self: center;
}

.Flashcard {
  height: 100%;
  align-self: center;
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 100ms;
  transition-timing-function: linear;
  backface-visibility: hidden;
}

.Flashcard:hover {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 20px;
}

.option {
  color: rgb(139, 139, 139);
}

.answer {
  font-size: 20px;
}

.footer {
  text-align: center;
}
